.skeleton { 
  background-color: #655f5f; 
  border-radius: 8px; 
  min-height: 20px; 
  position: relative; 
  overflow: hidden; 
} 
.skeleton::after { 
  content: ""; 
  position: absolute; 
  top: 0; 
  left: -150px;
  height: 100%; 
  width: 150px; 
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), transparent); 
  animation: skeleton-loading 1.1s infinite; 
} 
@keyframes skeleton-loading { 
  0% { left: -150px; } 
  50% { left: 100%; } 
  100% { left: 100%; } 
} 
