/* .glow-card {
  --x: 50%;
  --y: 50%;
  background: none;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.glow-card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(59, 248, 251, 0.15),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 0;
}

.glow-card:hover::before {
  opacity: 1;
} */


.glow-card {
  position: relative;
  overflow: hidden;
  background: rgba(39, 39, 42, 0.5); 
  transition: all 0.15s ease-in-out;
  z-index: 1; 
}

.glow-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(59, 248, 251, 0.15),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1; 
  pointer-events: none; 
}

.glow-card:hover::before {
  opacity: 1;
}