@import "tailwindcss";

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(0%); 
  }

  100% {
    transform: translateX(-50%);
  }
}

.skill-marquee {
  animation: scrollLoop 5s linear infinite;
}

